body {
    border: 2px solid #ddd;
}

#headDiv{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#logoCuc{
    float: left;
    padding-right: 50px;
    width: 10%;
}
#textHead{
    float: left;
    font-weight: bold;
    margin: auto;
    width: 70%;
}

#textHead p{
    margin: 5px;
}
#valId {
    position: absolute;
    top: 40px;
    right: 20px;
    font-weight: bold;
    font-size: 12px;
}

table { 
    border: 2px solid #bbb;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
table img {
    vertical-align: -10px;
}
td, th{
    border: 2px solid #ccc;
    min-width: 30px;
    max-width: 150px;
    line-height: 1.42857143;
    padding: 5px;
}
tr {
    height: 20.85px;
}
.comb{
    background: repeating-linear-gradient(135deg, #fff 0px, #fff 4px, #000 4px, #000 7.1px , #fff 7.1px);
    background-size: 10px 10px;
    width: 50px;
}
.inde{
    background: #000;
    width: 50px;
}
.inac{
    background: #fff;
    width: 50px;
}

#imgCanvas{
    margin: auto;
    width: 95%;
}
#imgCanvas img{
    width: 100%;
}