body {

    font: 14px Verdana;
}

/* width y height basado en el tamaño del popup 800px*/
.div-page{
    border: 2px solid #888;
    width: 765px;
    height: 990px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.div-page:last-child{
    margin-bottom: 0;
}

.page-header{
    height: 100px;
    margin-bottom: 10px;
}

.div-img{
    background-repeat: no-repeat;
}

#headDiv, .logo-header{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.logo-header{
    height: 45px;    
}

#logoCuc, .logoCuc{
    float: left;
    padding-right: 50px;
    width: 10%;
}

.logoCuc img{
    height: 40px
}

.textHead{
    float: left;
    font-weight: bold;
    margin: auto;
    width: 70%;
}

.textHead p{
    margin: 5px;
}
#valId {
    position: absolute;
    top: 40px;
    right: 20px;
    font-weight: bold;
    font-size: 10px;
}

table { 
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
table img {
    vertical-align: -10px;
}
td, th{
    border: 2px solid #777;
    min-width: 30px;
    max-width: 150px;
    line-height: 1.42857143;
    padding: 2px;
}
tr {
    height: 20.85px;
}
.comb{
    background: repeating-linear-gradient(135deg, #fff 0px, #fff 4px, #000 4px, #000 7.1px , #fff 7.1px);
    background-size: 10px 10px;
    width: 50px;
}
.inde{
    background: #000;
    width: 50px;
}
.inac{
    background: #fff;
    width: 50px;
}

#imgCanvas{
    margin: auto;
    width: 95%;
}
#imgCanvas img{
    width: 100%;
}